@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

form{
  margin: 30px;
}

.flex{
  display: flex;
  flex-direction: row;
}

.titulo-nav{
  color: #fff;
  text-align: left;
  margin-top: 5px;
  font-family: Comfortaa;
  font-size: 25px;
}

.title{
  font-family: 'Comfortaa';
  color: #1F7A39;
}

.subtitulo{
  font-family: 'Poppins';
  font-size: 25px;
}

.container-home{
  display: flex;
   margin: 100px;
   min-height: 60vh;
   flex-direction: row;
   font-family: 'Comfortaa', 'Poppins';
}

.container{
  flex-direction: column;
  margin-top: 5%;
}

.textos{
  margin-bottom: 5px;
  font-family: 'Poppins';
  font-size: 15px;
}

.text-carrosel{
  font-family: Comfortaa;
  background-color: black;
  color: #fff;
  border-radius: 30px;
}

.text-rodape{
  margin-top: 20px;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-family: Comfortaa;
  text-align: center;
  align-items: center;
}

.sobre{
  margin-top: 50px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: Comfortaa;

}

.sobre-p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:20px;
}


.card{
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-left: 0;
  font-family: Comfortaa;
}


.rodape{
  margin-top: 50px;
  width: 100%;
  height: 20rem;
}

.icons{
  display: flex;
  margin-left: 5px;
  margin: 30px;
  font-size: 4rem;
}

.logo{
  margin: 10px;
  margin-left: 50px;
  width: 80px;
  height: 85px;
}

.nav{
  background-color: #1F7A39;
  height: 85px;
}

.navbar-expand .navbar-nav .nav-link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.tam{
  height: 38rem;
}